@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1c1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0766ff;
  --color-gray: #262728;
  --color-light-gray: #333334;
  --color-light-gray-50: #383839;
  --color-light-gray-25: #333334;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
